<div>
  <h3>{{ playlist.name }}</h3>
  <table class='table' ng-show="playlist.songs.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in playlist.songs" ng-class="{active: song === getCurrentSong() }">
        <td>
          <button class="btn btn-default btn-xs" ng-click="toggle(song)">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist.name }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genres.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
  <small ng-hide="playlist.songs.length">No songs.</small>
  <hr>

  <h4>Add to Playlist</h4>
    <div>
    <p>Add A Song</p>
    <!-- <select  ng-options="song for song in songs by song.id" ng-model="selected"> --> 
      <!-- <option>{{ song.name }}</option> -->
   <!--  </select> -->
   <!-- START HERE -->
   <!-- ng-options needs some work; the button is gone now; get the list of songs -->
   <form name="SongForm">
    <select name="songAdd" ng-options="song.name for song in songs" ng-model="selected" required>{{ song.name }}</select>
     <button ng-disabled="SongForm.songAdd.$invalid" class="btn btn-success" ng-click="addedSong(playlist.id ,selected)" type="button">Add Song</button>
</div>


</div>