<div class="well">
  <form class="form-horizontal" name="playListForm">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
          <label class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input name="playListInput" class="form-control" ng-model="playList.name" type="text" ng-maxlength="16" required />
            <span> Hi! {{ playList.name }} </span>
            <div class="alert alert-warning" ng-show="playListForm.playListInput.$invalid && playListForm.playListInput.$dirty">Please enter a name</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-10 col-xs-offset-2">
            <button ng-disabled="playListForm.playListInput.$invalid" type="submit" class="btn btn-success" ng-click="createPlaylist(playList)">Create Playlist</button>
          </div>
        </div>
    </fieldset>
  </form>
</div>